Kata 4

Ejercicio 1

In [31]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
text_parts=text.split('.')

In [32]:
key_words = ["average","temperature","distance"]

In [33]:
for sentence in text_parts:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence)
            break

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 C

In [34]:
for sentence in text_parts:
    for key_word in key_words:
        for key_word in sentence:
            print(sentence.replace('C', 'Celsius'))
            break

Interesting facts about the Moon
Interesting facts about the Moon
Interesting facts about the Moon
 The Moon is Earth's only satellite
 The Moon is Earth's only satellite
 The Moon is Earth's only satellite
 There are several interesting facts about the Moon and how it affects life here on Earth
 There are several interesting facts about the Moon and how it affects life here on Earth
 There are several interesting facts about the Moon and how it affects life here on Earth

On average, the Moon moves 4cm away from the Earth every year

On average, the Moon moves 4cm away from the Earth every year

On average, the Moon moves 4cm away from the Earth every year
 This yearly drift is not significant enough to cause immediate effects on Earth
 This yearly drift is not significant enough to cause immediate effects on Earth
 This yearly drift is not significant enough to cause immediate effects on Earth
 The highest daylight temperature of the Moon is 127 Celsius
 The highest daylight temperature of the Moon is 127 Celsius
 The highest daylight temperature of the Moon is 127 Celsius

Ejercicio 2

In [2]:
nombre = "Ganímedes"
gravedad = 0.00143
planeta = "Marte"

In [3]:
title = f'datos sobre gravedad de {nombre}'

In [4]:
hechos = f"""{'-'*80}
Nombre del planeta:{planeta}
Gravedad en {nombre}:{gravedad*1000} m/s2
"""

In [5]:
template = f"""{title.title()}
{hechos}
"""
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta:Marte
Gravedad en Ganímedes:1.4300000000000002 m/s2

In [6]:
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [7]:
new_template = """
Datos de gravedad sobre {nombre}
-----------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

Datos de gravedad sobre Ganímedes
-----------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2

In [8]:
new_template = """
Datos de gravedad sobre {nombre}
-----------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Datos de gravedad sobre Ganímedes
-----------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2